.content-212,.content-196{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important
}

.ec {
    min-width: 100% !important;
}

.ms-Stack .css-190{
    background-color: #c8c6c4;
}